.mt {
  margin-top: 25px;
}

.center {
  text-align: center;
}

.mt2 {
  margin-top: 50px;
}

.container {
  max-width: 450px;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.subdiv {
  margin-top: 70px;
}

.details {
  margin-top: 100px;
}

::placeholder {
  color: rgb(184, 182, 182);
  font-weight: lighter;
}

.section {
  width: 70%;
  margin: auto;
}

.inputbox {
  width: 100%;
  border: 1px solid rgb(225, 224, 224);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.work {
  display: flex;
  gap: 10px;
}

.workitem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.mb {
  margin-bottom: 14px;
}
